#asd {
    margin-left: 40%;
    background-image:url(../Dms/images/logo.jpeg.jpg);
    background-position: center;
    color: papayawhip;
}

.barau {
    font-size: 1.5em;
    margin-left: -10%;


}

.www {
    margin-left: 10%;
}